---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="min-h-screen bg-gradient-to-b from-[#ea9b16] to-[#1a1b1e] p-4 sm:p-6 md:p-8 text-white">
        <div class="mx-auto max-w-5xl">
          {/* Header */}
          <div class="mb-8 mt-12 text-center">
            <div class="mb-4 flex flex-col sm:flex-row items-center justify-center text-sm font-light tracking-wide">
                <a href="/"><img src="/assets/img/logoGiron.svg" alt="Logo" class="h-8 mb-2 sm:mb-0"></a>
              <span class="mx-2 inline-block w-6 border-t border-white/30"></span>
              <span>28 de marzo del 2025</span>
            </div>
            <h1 class="text-2xl sm:text-3xl font-bold tracking-wide md:text-5xl">Biblioteca UNACH</h1>
          </div>
    
          {/* Main Content Card */}
          <div class="mt-16 overflow-hidden rounded-3xl shadow-2xl">
            <img src="/assets/img/portada_biblioteca.jpg" alt="Portada editorial" class="w-full md:h-[400px] h-64 object-cover">
          </div>
        </div>

        {/* Project Details Section */}
        <div class="mt-16 mx-auto max-w-5xl p-6 sm:p-10 rounded-xl bg-[#1a1b1e]">
            <div class="grid grid-cols-1 gap-10 md:grid-cols-3">
              {/* Left Column */}
              <div class="md:col-span-1">
                <div class="mb-10">
                  <h2 class="mb-4 text-sm font-bold uppercase tracking-wider text-gray-300">Mi Rol</h2>
                  <p class="text-base text-gray-400">Desarrollador FullStack</p>
                </div>
  
                <div>
                  <h2 class="mb-4 text-sm font-bold uppercase tracking-wider text-gray-300">Cronología</h2>
                  <p class="text-base text-gray-400">De diciembre a febrero de 2025</p>
                </div>
              </div>
  
              {/* Right Column */}
              <div class="md:col-span-2">
                <h2 class="mb-6 text-sm font-bold uppercase tracking-wider text-gray-300">Visión general</h2>
                <p class="mb-6 text-base leading-relaxed text-gray-400">El proyecto "Biblioteca UNACH" es una aplicación web que he desarrollado utilizando el framework Laravel. Este framework es conocido por su sintaxis elegante y expresiva, lo que hace que el desarrollo web sea una experiencia agradable y creativa. <br>
                    
                    El repositorio está compuesto principalmente por archivos Blade y PHP, aprovechando las características robustas de Laravel, como su motor de enrutamiento rápido, su contenedor de inyección de dependencias, múltiples opciones de almacenamiento para sesiones y caché, un ORM de base de datos intuitivo, migraciones de esquemas, procesamiento de trabajos en segundo plano y transmisión de eventos en tiempo real. 
                </p>
              </div>
            </div>
            {/* Technologies Used Section */}
          <div class="mb-10 pb-10">
            <h2 class="mb-6 text-sm font-bold uppercase tracking-wider text-gray-300">Tecnologías utilizadas</h2>
            <div class="flex flex-wrap gap-6">
              {/* PHP */}
              <div class="flex flex-col items-center">
                <div class="flex h-14 w-14 items-center justify-center p-3">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -1 100 50"><path fill="#fff" d="M7.579 10.123h14.204c4.169.035 7.19 1.237 9.063 3.604 1.873 2.367 2.491 5.6 1.855 9.699-.247 1.873-.795 3.71-1.643 5.512a16.385 16.385 0 01-3.392 4.876c-1.767 1.837-3.657 3.003-5.671 3.498a26.11 26.11 0 01-6.254.742h-6.36l-2.014 10.07H0l7.579-38.001m6.201 6.042l-3.18 15.9c.212.035.424.053.636.053h.742c3.392.035 6.219-.3 8.48-1.007 2.261-.742 3.781-3.321 4.558-7.738.636-3.71 0-5.848-1.908-6.413-1.873-.565-4.222-.83-7.049-.795-.424.035-.83.053-1.219.053h-1.113l.053-.053M41.093 0h7.314L46.34 10.123h6.572c3.604.071 6.289.813 8.056 2.226 1.802 1.413 2.332 4.099 1.59 8.056l-3.551 17.649h-7.42L54.979 21.2c.353-1.767.247-3.021-.318-3.763s-1.784-1.113-3.657-1.113l-5.883-.053-4.346 21.783h-7.314L41.093 0M70.412 10.123h14.204c4.169.035 7.19 1.237 9.063 3.604 1.873 2.367 2.491 5.6 1.855 9.699-.247 1.873-.795 3.71-1.643 5.512a16.385 16.385 0 01-3.392 4.876c-1.767 1.837-3.657 3.003-5.671 3.498a26.11 26.11 0 01-6.254.742h-6.36L70.2 48.124h-7.367l7.579-38.001m6.201 6.042l-3.18 15.9c.212.035.424.053.636.053h.742c3.392.035 6.219-.3 8.48-1.007 2.261-.742 3.781-3.321 4.558-7.738.636-3.71 0-5.848-1.908-6.413-1.873-.565-4.222-.83-7.049-.795-.424.035-.83.053-1.219.053H76.56l.053-.053"/></svg>
                  
                </div>
                <span class="mt-2 text-xs text-gray-400">LARAVEL</span>
              </div>

              {/* LARAVEL */}
              <div class="flex flex-col items-center">
                <div class="flex h-14 w-14 items-center justify-center p-3">
                  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 264">
                    <path d="m255.9 59.6.1 1.1v56.6c0 1.4-.8 2.8-2 3.5l-47.6 27.4v54.2c0 1.4-.7 2.8-2 3.5l-99.1 57-.7.4-.3.1c-.7.2-1.4.2-2.1 0l-.4-.1-.6-.3L2 206c-1.3-.8-2.1-2.2-2.1-3.6V32.7l.1-1.1.2-.4.3-.6.2-.4.4-.5.4-.3c.2 0 .3-.2.5-.3L51.6.6c1.3-.8 2.9-.8 4.1 0L105.3 29c.2 0 .3.2.4.3l.5.3c0 .2.2.4.3.5l.3.4.3.6.1.4.2 1v106l41.2-23.7V60.7c0-.4 0-.7.2-1l.1-.4.3-.7.3-.3.3-.5.5-.3.4-.4 49.6-28.5c1.2-.7 2.8-.7 4 0L254 57l.5.4.4.3.4.5.2.3c.2.2.2.5.3.7l.2.3Zm-8.2 55.3v-47l-17.3 10-24 13.7v47l41.3-23.7Zm-49.5 85v-47l-23.6 13.5-67.2 38.4v47.5l90.8-52.3ZM8.2 39.9V200l90.9 52.3v-47.5l-47.5-26.9-.4-.4c-.2 0-.3-.1-.4-.3l-.4-.4-.3-.4-.2-.5-.2-.5v-.6l-.2-.5V63.6L25.6 49.8l-17.3-10Zm45.5-31L12.4 32.8l41.3 23.7 41.2-23.7L53.7 8.9ZM75 157.3l24-13.8V39.8l-17.3 10-24 13.8v103.6l17.3-10ZM202.3 36.9 161 60.7l41.3 23.8 41.3-23.8-41.3-23.8Zm-4.1 54.7-24-13.8-17.3-10v47l24 13.9 17.3 10v-47Zm-95 106 60.6-34.5 30.2-17.3-41.2-23.8-47.5 27.4L62 174.3l41.2 23.3Z" fill="#FF2D20"/>
                  </svg>
                  
                </div>
                <span class="mt-2 text-xs text-gray-400">LARAVEL</span>
              </div>

              <div class="flex flex-col items-center">
                <div class="flex h-14 w-14 items-center justify-center p-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="2500" height="2500" viewBox="0 0 1052 1052"><path fill="#f0db4f" d="M0 0h1052v1052H0z"/><path d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z" fill="#323330"/></svg>
                  
                </div>
                <span class="mt-2 text-xs text-gray-400">JAVASCRIPT</span>
              </div>

              <div class="flex flex-col items-center">
                <div class="flex h-14 w-14 items-center justify-center p-3">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 54 33"><g clip-path="url(#a)"><path fill="#38bdf8" fill-rule="evenodd" d="M27 0c-7.2 0-11.7 3.6-13.5 10.8 2.7-3.6 5.85-4.95 9.45-4.05 2.054.513 3.522 2.004 5.147 3.653C30.744 13.09 33.808 16.2 40.5 16.2c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C36.756 3.11 33.692 0 27 0zM13.5 16.2C6.3 16.2 1.8 19.8 0 27c2.7-3.6 5.85-4.95 9.45-4.05 2.054.514 3.522 2.004 5.147 3.653C17.244 29.29 20.308 32.4 27 32.4c7.2 0 11.7-3.6 13.5-10.8-2.7 3.6-5.85 4.95-9.45 4.05-2.054-.513-3.522-2.004-5.147-3.653C23.256 19.31 20.192 16.2 13.5 16.2z" clip-rule="evenodd"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h54v32.4H0z"/></clipPath></defs></svg>                  
                </div>
                <span class="mt-2 text-xs text-gray-400">TAILWIND CSS</span>
              </div>

              <div class="flex flex-col items-center">
                <div class="flex h-14 w-14 items-center justify-center p-3">
                  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 252">
                    <path d="M236 194c-14 0-25 1-34 5-3 1-7 1-7 4l3 6c2 3 5 8 9 11l11 8 21 10 11 9 6 4-3-6-5-5c-5-7-11-13-18-18-6-3-18-9-20-15h-1l12-3 18-3 8-2v-2l-9-10c-8-8-18-15-28-22l-18-8c-2-1-6-2-7-4l-7-13-15-30-8-20c-18-30-38-48-68-65-6-4-14-5-22-7l-13-1-8-6C34 5 8-9 1 9c-5 11 7 22 11 28l9 13 3 9c3 8 5 17 9 24l6 10c2 2 4 3 5 6-3 4-3 9-4 13-7 20-4 44 5 59 2 4 9 14 18 10 8-3 6-13 8-22l1-4 8 14c5 9 14 18 22 24 4 3 8 8 13 10l-4-4-9-10c-8-10-14-21-20-32l-7-17-3-6c-3 4-7 7-9 12-3 7-3 17-4 26h-1c-6-1-8-7-10-12-5-12-6-32-1-46 1-4 6-15 4-19-1-3-4-5-6-7l-7-12-10-30-9-13c-3-5-7-8-10-14-1-2-2-5 0-7l2-2c2-2 9 0 11 1 6 3 12 5 17 9l8 6h4c6 1 12 0 17 2 9 3 18 7 25 12 23 14 42 35 54 59 3 4 3 8 5 12l12 26c4 8 7 16 12 23 3 4 14 6 18 8l12 4 18 12c2 2 11 7 12 10Z" fill="#00546B"/>
                    <path d="m58 43-7 1 6 7 4 9v-1c3-1 4-4 4-8l-2-4-5-4Z" fill="#00546B"/>
                  </svg>
                                  
                </div>
                <span class="mt-2 text-xs text-gray-400">MYSQL</span>
              </div>
            </div>
          </div>
            {/* GitHub Button - Repositioned and Redesigned */}
          <div class="mt-12 border-t border-gray-800 pt-8">
            <a
              href="https://github.com/Gironmv12/editorial.git"
              target="_blank"
              rel="noopener noreferrer"
              class="group inline-flex items-center gap-2 sm:gap-3 rounded-lg border border-[#3374ee]/30 bg-[#1a1b1e] px-4 sm:px-6 py-2 sm:py-3 text-[#3374ee] text-sm sm:text-base transition-all hover:border-[#3374ee] hover:bg-[#3374ee]/10 hover:shadow-[0_0_15px_rgba(51,116,238,0.15)]"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 24 24">
                <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
              </svg>
              <span class="font-medium">Ver código en GitHub</span>
            </a>
          </div>
          </div>

          <div class="mt-16 mx-auto max-w-5xl rounded-xl">
            <div class="mb-8 mt-12 text-center">
                <h1 class="text-2xl sm:text-3xl font-bold">Diseño del sistema</h1>
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/home.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/home2.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/detalles.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/login.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/d_libro.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/d_libro_t.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/d_categoria.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/biblioteca/d_usuarios.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>
          </div>
    </div>
</Layout>