---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="min-h-screen bg-gradient-to-b from-[#3374ee] to-[#1a1b1e] p-4 sm:p-6 md:p-8 text-white">
        <div class="mx-auto max-w-5xl">
          {/* Header */}
          <div class="mb-8 mt-12 text-center">
            <div class="mb-4 flex flex-col sm:flex-row items-center justify-center text-sm font-light tracking-wide">
                <a href="/"><img src="/assets/img/logoGiron.svg" alt="Logo" class="h-8 mb-2 sm:mb-0"></a>
              <span class="mx-2 inline-block w-6 border-t border-white/30"></span>
              <span>28 de marzo del 2025</span>
            </div>
            <h1 class="text-2xl sm:text-3xl font-bold tracking-wide md:text-5xl">Sistema de logística y transporte</h1>
          </div>
    
          {/* Main Content Card */}
          <div class="mt-16 overflow-hidden rounded-3xl shadow-2xl">
            <img src="/assets/img/portada_fletex.jpg" alt="Portada Fletex" class="w-full md:h-[400px] h-64 object-cover">
          </div>
        </div>

        {/* Project Details Section */}
        <div class="mt-16 mx-auto max-w-5xl p-6 sm:p-10 rounded-xl bg-[#1a1b1e]">
            <div class="grid grid-cols-1 gap-10 md:grid-cols-3">
              {/* Left Column */}
              <div class="md:col-span-1">
                <div class="mb-10">
                  <h2 class="mb-4 text-sm font-bold uppercase tracking-wider text-gray-300">Mi Rol</h2>
                  <p class="text-base text-gray-400">Desarrollador FullStack</p>
                </div>
  
                <div>
                  <h2 class="mb-4 text-sm font-bold uppercase tracking-wider text-gray-300">Cronología</h2>
                  <p class="text-base text-gray-400">De octubre a diciembre de 2024</p>
                </div>
              </div>
  
              {/* Right Column */}
              <div class="md:col-span-2">
                <h2 class="mb-6 text-sm font-bold uppercase tracking-wider text-gray-300">Visión general</h2>
                <p class="mb-6 text-base leading-relaxed text-gray-400">
                    Desarrollé un sistema integral de gestión logística y transporte enfocado en optimizar la planificación, seguimiento y control de recursos y flujos de transporte en toda la cadena de suministro. <br>
                    
                    Esta solución permite la administración eficiente de rutas, vehículos y conductores, al tiempo que facilita la toma de decisiones estratégicas con reportes y análisis en tiempo real. <br>
                    
                    La solución está diseñada para mejorar la visibilidad de operaciones, reducir costos operativos y aumentar la eficiencia logística de las empresas, ofreciendo una interfaz intuitiva y herramientas de planificación avanzadas.
                </p>
              </div>
            </div>
          </div>

          <div class="mt-16 mx-auto max-w-5xl rounded-xl">
            <div class="mb-8 mt-12 text-center">
                <h1 class="text-2xl sm:text-3xl font-bold">Diseño del sistema</h1>
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/fletex/login.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/fletex/dashboard.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/fletex/almacen.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/fletex/reportes.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/fletex/reportes_2.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/fletex/inventario.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>

            <div class="overflow-hidden rounded-3xl shadow-2xl mb-3">
                <img src="/assets/img/fletex/entregas.png" alt="Portada Fletex" class="w-full h-auto object-cover">          
            </div>
          </div>
    </div>
</Layout>