---

import { Coffee, ArrowUpRight, ChevronRight, Network } from 'lucide-astro'
---
<div class="p-4 md:p-16">
    {/* Header */}
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8 md:mb-12">
      <div class="space-y-4">
        <div class="flex items-center gap-3">
          <div class="flex items-center mb-4 md:mb-0">
            <Network class="w-8 h-8 mr-4 text-[#34d399]" />
          </div>
          <h2 class="text-2xl md:text-4xl font-semibold text-white">Proyectos personales</h2>
        </div>
        <p class="text-zinc-400 text-sm md:text-base">Una recopilación de todos los proyectos que alimentan mi creatividad</p>
      </div>
    </div>

    {/* Projects Grid */}
    
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <div class="group relative rounded-xl bg-gradient-to-b from-black via-black to-[#B800DA] p-[1px] transition-all duration-300 hover:shadow-[0_0_25px_rgba(255,255,255,0.2)]">
        <div class="absolute inset-0 rounded-xl bg-gradient-to-b from-white/10 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"></div>
        <div class="relative h-full rounded-xl bg-gradient-to-b from-[#B800DA] to-[#232529] p-6 flex flex-col">
          <div class="flex-1 flex items-center justify-center py-12">
            <div class="w-32 h-40">
              <img src="/assets/img/logo_app_assit.png" alt="" class="w-full h-full object-contain">
            </div>
          </div>
          <div class="mt-auto">
            <div class="flex items-center text-xs text-[#A7AAB4]">
              <span>2025 - Presente</span>
              <button class="ml-auto flex h-8 w-8 items-center justify-center rounded-full text-[#A7AAB4] transition hover:bg-gray-600">
                <ChevronRight class="h-4 w-4" />
              </button>
            </div>
            <h3 class="mt-2 text-lg font-semibold text-[#FFFFFF]">APP - ASSISTCONTROL</h3>
          </div>
        </div>
      </div>
        {/* Card 1 - White Glow */}
        <div class="group relative rounded-xl bg-gradient-to-b from-black via-black to-[#efefef] p-[1px] transition-all duration-300 hover:shadow-[0_0_25px_rgba(255,255,255,0.2)]">
          <div class="absolute inset-0 rounded-xl bg-gradient-to-b from-white/10 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"></div>
          <div class="relative h-full rounded-xl bg-gradient-to-b from-[#515255] to-[#232529] p-6 flex flex-col">
            <div class="flex-1 flex items-center justify-center py-12">
              <div class="w-32 h-40">
                <img src="/assets/img/gato-vino_white.png" alt="" class="w-full h-full object-contain">
              </div>
            </div>
            <div class="mt-auto">
              <div class="flex items-center text-xs text-[#A7AAB4]">
                <span>2025 - Presente</span>
                <button class="ml-auto flex h-8 w-8 items-center justify-center rounded-full text-[#A7AAB4] transition hover:bg-gray-600">
                  <ChevronRight class="h-4 w-4" />
                </button>
              </div>
              <h3 class="mt-2 text-lg font-semibold text-[#FFFFFF]">Software Bar BlackClassic</h3>
            </div>
          </div>
        </div>
        {/* Card 2 - White Glow */}

        <a href="/bibliotecaAbout" class="group relative rounded-xl bg-gradient-to-b from-black via-black to-[#F4D055] p-[1px] transition-all duration-300 hover:shadow-[0_0_25px_#f4cf5571]">
            <div class="absolute inset-0 rounded-xl bg-gradient-to-b from-white/10 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"></div>
            <div class="relative h-full rounded-xl bg-gradient-to-b from-[#f4cf55a2] to-[#232529] p-6 flex flex-col">
              <div class="flex-1 flex items-center justify-center py-12">
                <div class="w-52">
                  <img src="/assets/img/logo_siresu_gold.png" alt="" class="w-full h-full object-contain">
                </div>
              </div>
              <div class="mt-auto">
                <div class="flex items-center text-xs text-[#A7AAB4]">
                  <span>2024 - Presente</span>
                  <button class="ml-auto flex h-8 w-8 items-center justify-center rounded-full text-[#A7AAB4] transition hover:bg-gray-600">
                    <ChevronRight class="h-4 w-4" />
                  </button>
                </div>
                <h3 class="mt-2 text-lg font-semibold text-[#FFFFFF]">Biblioteca UNACH</h3>
              </div>
            </div>
        </a>

        {/* Card 3 - White Glow */}
        <a href="/fletexAbout" class="group relative rounded-xl bg-gradient-to-b from-black via-black to-[#6D98ED] p-[1px] transition-all duration-300 hover:shadow-[0_0_25px_#4a74e784]">
            <div class="absolute inset-0 rounded-xl bg-gradient-to-b from-white/10 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"></div>
            <div class="relative h-full rounded-xl bg-gradient-to-b from-[#4a74e7c1] to-[#232529] p-6 flex flex-col">
              <div class="flex-1 flex items-center justify-center py-12">
            <div class="w-52">
              <img src="/assets/img/fletexlogo.png" alt="" class="w-full h-full object-contain">
            </div>
              </div>
              <div class="mt-auto">
            <div class="flex items-center text-xs text-[#A7AAB4]">
              <span>2024</span>
              <button class="ml-auto flex h-8 w-8 items-center justify-center rounded-full text-[#A7AAB4] transition hover:bg-gray-600">
                <ChevronRight class="h-4 w-4" />
              </button>
            </div>
            <h3 class="mt-2 text-lg font-semibold text-[#FFFFFF]">Sistema de logística y transporte</h3>
              </div>
            </div>
        </a>
    </div>
</div>