---

import { Coffee, ArrowUpRight} from 'lucide-astro'
---
<div class="p-4 md:p-16">
    {/* Header */}
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8 md:mb-12">
      <div class="space-y-4">
        <div class="flex items-center gap-3">
          <div class="bg-zinc-800 p-3 rounded-xl">
            <Coffee class="w-6 h-6 text-[#34d399]" />
          </div>
          <h2 class="text-2xl md:text-4xl font-semibold text-white">Personal Projects</h2>
        </div>
        <p class="text-zinc-400 text-sm md:text-base">Una recopilación de todos los proyectos que alimentan mi creatividad</p>
      </div>
    </div>

    {/* Projects Grid */}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <a href="#" class="group" target="_blank">
            <div class="relative bg-[#232529] border border-[#2f3037] rounded-2xl p-6 aspect-[4/5] overflow-hidden transition-transform hover:scale-[1.02]">
                <span class="absolute top-4 right-4 text-sm bg-black/20 backdrop-blur-sm px-3 py-1 rounded-full z-10 text-[#34d399]">
                    2025 - Presente
                </span>
                <div class="h-full flex flex-col justify-between relative z-10">
                    <div class="mx-auto mt-8 relative">
                        <img 
                            src="src/assets/img/blackclassic.png" 
                            alt="Badges"
                            class="w-2/4 object-cover mx-auto"
                        />
                    </div>
                    <div>
                        <h3 class="text-md font-semibold text-white truncate">Software Bar BlackClassic</h3>
                        <p class="text-zinc-400 text-sm">Software Bar BlackClassic es un sistema integral de gestión diseñado específicamente para bares y restaurantes, que combina eficiencia y elegancia en cada función</p>
                        <ul class="mt-2 text-sm text-zinc-300">
                            <li>Rol: Desarrollador Backend.</li>
                            <li>Tecnologías: NODE JS, REACT JS, Tailwind CSS, MySQL, APIs Restful, Git, Postman.</li>
                            <li>Funcionalidad destacada: Gestión de Reservas Dinámica,Generación Automática de Comandas y Tickets .</li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
      {/* Project Card 1 */}
    <a href="https://github.com/Gironmv12/editorial.git" class="group" target="_blank">
        <div class="relative bg-[#232529] border border-[#2f3037] rounded-2xl p-6 aspect-[4/5] overflow-hidden transition-transform hover:scale-[1.02]">
            <span class="absolute top-4 right-4 text-sm bg-black/20 backdrop-blur-sm px-3 py-1 rounded-full z-10 text-[#34d399]">
                2024 - presente
            </span>
            <div class="h-full flex flex-col justify-between relative z-10">
                <div class="mx-auto mt-8 relative">
                    <img 
                        src="src/assets/img/logoSiresu.png" 
                        alt="Badges"
                        class="w-2/4 object-cover mx-auto"
                    />
                </div>
                <div>
                    <h3 class="text-md font-semibold text-white truncate">Sistema de Biblioteca para la Editorial UNACH</h3>
                    <p class="text-zinc-400 text-sm">Diseñé y desarrollé un sistema para administrar libros y gestionar la cartelera de publicaciones de la UNACH.</p>
                    <ul class="mt-2 text-sm text-zinc-300">
                        <li>Rol: Desarrollador FullStack.</li>
                        <li>Tecnologías: PHP, Laravel, Tailwind CSS, MySQL, APIs Restful, Git, Postman.</li>
                        <li>Funcionalidad destacada: Creación de APIs para integrar el sistema con otras plataformas.</li>
                    </ul>
                </div>
            </div>
        </div>
    </a>

      {/* Project Card 2 */}
    <a href="https://github.com/Gironmv12/Fletex.git" class="group" target="_blank">
        <div class="relative bg-[#232529] border border-[#2f3037] rounded-2xl p-6 aspect-[4/5] overflow-hidden transition-transform hover:scale-[1.02]">
            
            <span class="absolute top-4 right-4 text-sm bg-black/20 backdrop-blur-sm px-3 py-1 rounded-full z-10 text-[#34d399]">
                2024
            </span>
            <div class="h-full flex flex-col justify-between relative z-10">
                <div class="mx-auto mt-8 relative">
                    <img 
                        src="src/assets/img/fletexlogo.png" 
                        alt="Badges"
                        class="w-2/4 object-cover mx-auto"
                    />
                </div>
                <div>
                    <h3 class="text-md font-semibold text-white truncate">Sistema de Logistica y Transporte</h3>
                    <p class="text-zinc-400 text-sm">Desarrollé un sistema integral de gestión logística y transporte enfocado en optimizar la planificación, seguimiento y control de recursos y flujos de transporte en toda la cadena de suministro.</p>
                    <ul class="mt-2 text-sm text-zinc-300">
                        <li >Rol: Desarrollador FullStack.</li>
                        <li>Tecnologías: Node.js, Express.js, React.js, Tailwind CSS.</li>
                        <li>Funcionalidad destacada: Gestión eficiente de rutas y recursos logísticos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </a>

    </div>
  </div>