---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import About from './about.astro';
import Experience from './Experience.astro';
import Education from './Education.astro';
import Projects from './Projects.astro';
import Skills from './Skills.astro';
---

<div id="container">
	<About />
	<Skills />
	<Experience />	
	<Education />
	<Projects />

	
</div>
	